body {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
}


/* header area start here */

#header-area {
    padding: 20px;
}

.menu ul li a {
    font-family: 'Raleway', sans-serif !important;
    color: #404040 !important;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
}

.menu ul li a::after {
    position: absolute;
    content: '';
    width: 82%;
    height: 4px;
    bottom: 5%;
    left: 10%;
    background-color: none;
    transition: 0.3s;
}

.menu ul li a:hover::after {
    background-color: #40404040;
}

.menu ul li {
    margin-right: 15px;
    padding-top: 6px;
}

.btn-custome {
    font-family: 'Open Sans', sans-serif;
    background-color: #7f1a38;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 18px;
    border-radius: 10px;
}

.btn-custome:hover {
    border: 2px solid#7f1a38;
    color: #7f1a38;
    background-color: transparent;
    transition: .8s;
    font-weight: 700;
}


/* header area end here */


/* banner area start here */

#banner-part {
    background-image: url(../img/bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-content {
    padding: 135px 0 55px 0;
}

.banner-content h2 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 51px;
    color: #ffffff;
    font-weight: 400;
}

.banner-content p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    text-transform: capitalize;
    font-size: 18px;
    color: #ffffff;
    padding-top: 20px;
}

form {
    padding: 30px;
    background-color: #101010;
    opacity: .8;
    border-radius: 5px;
}

form input {
    margin-right: 20px;
}

.form-custome {
    border-radius: 0;
    width: 96%;
    margin-left: 10px;
    padding: 26px 7px;
}

.btn-custome2 {
    font-family: 'Raleway', sans-serif;
    background-color: #ae2c52;
    padding: 11px 25%;
    color: #ffffff;
    border-radius: 0;
    margin-left: 10px;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 20px;
}

.btn-custome2:hover {
    background-color: #ffffff;
    color: #7f1a38;
}

.form-design p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    padding: 25px 0 100px 0;
}


/* banner area end here */


/* feature area start here */

#feature-area {
    padding: 80px 0;
}

.icon {
    font-size: 100px;
    color: #444444;
    cursor: pointer;
}

.feature-material h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
    text-transform: capitalize;
    padding: 10px 0px;
}

.feature-material p {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #6E6E6E;
}


/* feature area end here */


/* service area start here */

#service-area {
    background-color: #F9F9F9;
    padding: 120px 0;
}

.service-text h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    font-weight: 300;
}

.service-text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 300;
    padding: 35px 0;
    color: #333333;
}

.btn-custome3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #7f1a38;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: 3px solid #7f1a38;
    padding: 10px 22px;
    border-radius: 5px;
}

.btn-custome3:hover {
    color: #ffffff;
    background: #7f1a38;
}


/* service area end here */


/* discover area start here */

#discover-area {
    background-color: #33383E;
    padding: 60px 0;
}

.discover-text h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 39px;
    font-weight: 300;
    color: #ffffff;
}

.btn-custome4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: 3px solid #ffffff;
    padding: 10px 22px;
    border-radius: 5px;
}

.btn-custome4:hover {
    background-color: #ffffff;
    color: #7f1a38;
}


/* discover area end here */


/* testimonium area start here */

#testimonium-area {
    background-color: #09BCDC;
    padding: 50px 0;
}

.slider-part i {
    font-size: 80px;
    color: #197182;
    cursor: pointer;
}

.slider-part p {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
    color: #ffffff;
    padding: 50px 0 80px 0;
}

.slider-part span {
    color: #197182;
}

.carousel-indicators li {
    opacity: 1;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid #fff;
    background: none;
}

.carousel-indicators .active {
    opacity: 1;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #197182;
}


/* testimonium area end here */


/* footer area start here */

#footer-area {
    padding: 50px 0;
}

#footer-area p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    color: #33383E;
}


/* footer area end here */


/* font-family: 'Open Sans',
sans-serif;
font-family: 'Raleway',
sans-serif; */